<div  class="header">
	<a href="#!/dashboard">Cancel</a>
	<h3>Put the question and options here:</h3>
	<div ng-repeat="error in CC.new_poll_errors">
		{{ error }}
	</div>
	<form ng-submit="CC.create(CC.newPoll)">
		<h1>Question: <input type="text" ng-model="CC.newPoll.poll"></h1>
		<h1>Option 1: <input type="text" ng-model="CC.newPoll.opt1.option"></h1>
		<h1>Option 2: <input type="text" ng-model="CC.newPoll.opt2.option"></h1>
		<h1>Option 3: <input type="text" ng-model="CC.newPoll.opt3.option"></h1>
		<h1>Option 4: <input type="text" ng-model="CC.newPoll.opt4.option"></h1><br>
		<input type="submit" value="Create Poll">
	</form>
</div>