<div ng-init="UC.session()">
	<div class="header" ng-controller="CreateController as CC">
		<h3 class="float_right inline_block">Search:<input type="text" ng-model="CC.x"></h3>
		<a class="float_right inline_block" href="#" ng-click="UC.logout()">Logout</a>
		<a href="#!/create">Create a New Poll</a>
		<h3>Current Polls:</h3>
		<hr>
	</div>
	<div ng-init="CC.show()">
		<table>
			<tr>
				<th>User Name</th>
				<th>Survey Queston</th>
				<th> Date Posted</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="poll in CC.polls | filter:CC.x">
				<td>{{ poll.user.username }}</td>
				<td><a href="#!/poll/{{poll.poll}}"></a></td>
				<td>{{ poll.createAt | date: 'MMMM/dd/yyyy }}</td>
				<td><button ng-click="delete(poll)">Delete</button></td>
			</tr>
		</table>
	</div>
	



</div>