<div ng-init="UC.session()" ng-controller="CreateController as CC">
	<div class="header">
		<h3 class="float_right inline_block">Search:<input type="text" ng-model="CC.x"></h3>
		<a class="float_right inline_block" href="#" ng-click="UC.logout()">Logout</a>
		<a href="#!/create">Create a New Poll</a>
		<h3>Current Polls:</h3>
		<hr>
	</div>
	<div ng-init="CC.index()">
		<table>
			<tr>
				<th>User Name</th>
				<th>Survey Queston</th>
				<th> Date Posted</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="poll in CC.polls | filter:CC.x">
				<td>{{ poll.user.first_name }}</td>
				<td><a href="#!/poll/{{poll._id}}">{{poll.poll}}</a></td>
				<td>{{ poll.createdAt | date: 'MMMM/dd/yyyy' }}</td>
				<td ng-if="UC.current_user._id == poll.user._id"><button ng-click="CC.destroy(poll._id)">Delete</button></td>
			</tr>
		</table>
	</div>
	



</div>