<div class="header" ng-init="SC.show()">
	<a href="#!/dashboard">Go to Polls</a>
	<div>
		<h3>{{ SC.poll.poll }}</h3>
	</div>
	<p>Click the Vote button to choose one.</p>
	<table>
		<tr>
			<th>Option</th>
			<th>Current Count of Votes</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>{{ SC.poll.opt1.option }}</td>
			<td>{{ SC.poll.opt1.votes }}</td>
			<td><button ng-click="SC.updateVotes('opt1', SC.poll._id)">Vote</button></td>
		</tr>
			<tr>
			<td>{{ SC.poll.opt2.option }}</td>
			<td>{{ SC.poll.opt2.votes }}</td>
			<td><button ng-click="SC.updateVotes('opt2', SC.poll._id)">Vote</button></td>
		</tr>
			<tr>
			<td>{{ SC.poll.opt3.option }}</td>
			<td>{{ SC.poll.opt3.votes }}</td>
			<td><button ng-click="SC.updateVotes('opt3', SC.poll._id)">Vote</button></td>
		</tr>
			<tr>
			<td>{{ SC.poll.opt4.option }}</td>
			<td>{{ SC.poll.opt4.votes }}</td>
			<td><button ng-click="SC.updateVotes('opt4', SC.poll._id)">Vote</button></td>
		</tr>
	</table>
</div>